.wrapper {
    display: grid;
    grid-template-areas:
        'header header'
        'main main'
        'footer footer';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 104px auto 616.23px;

    > :nth-child(1) {
        grid-area: header;
    }

    > :nth-child(2) {
        grid-area: main;
    }

    > :nth-child(3) {
        grid-area: footer;
    }

    > :nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 452px) {
    .wrapper {
        grid-template-areas:
            'header'
            'main'
            'nav';
        grid-template-columns: 1fr;
        grid-template-rows: 104px auto 72px;

        > :nth-child(3) {
            display: none;
        }

        > :nth-child(4) {
            display: block;
            grid-area: nav;
            background-color: #ffffff;
            color: #4a4a4a;
            padding-top: 10px;
        }
    }
}
