.row1 {
    display: flex;
    justify-content: space-between;
    margin: 0px 136.4px;

    div {
        padding: 12px;
    }

    span {
        color: gray;
    }

    a {
        font-size: 10px;
        color: gray;
    }
}
