.hotsale {
    width: 100%;
    // height: 385.8px;
}

.swiperslide {
    width: 228px;
    height: 451.9px;
    padding: 10px;
    background-color: #ffffff;

    > div:first-child {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;

        img {
            width: 160px;
            height: 160px;
        }
    }

    > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        > p {
            color: #d70018;
        }
    }
}
