.mobile {
    width: 100%;
    height: auto;
    margin: 150px 0px 20px 0px;

    > section {
        width: auto;
        height: auto;
        margin: 0px 136.4px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 1470px) {
    .mobile {
        section {
            margin: auto;
        }
    }
}
