.thirdmain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 162px;

    h1 {
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-size: 18px;
        color: #4a4a4a;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        height: 125px;

        a {
            width: auto;
            border-radius: 10px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

            img {
                width: 118.125px;
                height: 125px;
                border-radius: 10px;
            }

            span {
                width: 118.125px;
                font-size: 14px;
                color: #ffffff;
                margin-top: 5px;
                font-weight: 600;
                padding: 5px;
                position: absolute;
            }
        }
    }
}

.hehe {
}
