.checkitem {
    flex: 1;
    height: auto;
    padding: 12px;

    > div:first-child {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 144.4px;
            height: 36px;
            padding: 5px 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid #e5e7eb;
        }

        > div:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                font-size: 12px;
            }
        }
    }

    > p {
        font-size: 14px;
        color: #4a4a4a;
        margin-bottom: 5px;

        span {
            color: #363636;
            font-weight: 700;
            font-size: 14px;
        }
    }

    > div:last-child {
        width: 342px;
        height: 200px;
        border-radius: 10px;
        border: 1px solid #e5e7eb;
        overflow-y: scroll;

        div {
            display: flex;
            align-items: center;
            width: 100%;
            height: 33px;
            padding: 5px;

            i,
            p {
                font-size: 12px;
                margin-right: 4px;
            }

            u {
                font-size: 12px;
                gap: 4px;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

            > div:first-child {
                color: #d70018;
            }

            > div:last-child {
                color: #0864c1;
            }
        }
    }
}
