.extendedwarranty {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;

    > div:first-child {
        display: flex;
        gap: 5px;

        i {
            font-size: 23px;
        }

        div {
            > p:first-child {
                font-size: 16px;
                font-weight: 700;
                color: #444;
            }

            u {
                text-decoration-color: #d02c1d;

                i {
                    color: #d02c1d;
                    font-size: 12px;
                }
            }

            > p:last-child {
                font-size: 12px;
                margin-top: 5px;
                color: #444;
            }
        }
    }

    > ul {
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: auto;
            border-radius: 10px;
            border: 1px solid #e7e7e7;
            padding: 5px 10px;
            margin: 10px 0px 5px 0px;

            > label {
                display: flex;

                gap: 5px;

                p {
                    font-size: 14px;
                    color: #837f7f;
                }
            }

            > div:last-child {
                display: flex;
                justify-content: space-between;
                padding-left: 30px;

                > p {
                    font-size: 14px;
                    color: #d02c1d;
                    font-weight: 600;
                }

                > i {
                    font-size: 13px;
                    color: #d02c1d;
                }
            }
        }
    }
}
