.itemdetail {
    width: 100%;
    height: auto;
    margin: 140px 0px 20px 0px;

    hr {
        border: none;
        height: 2px;
        background-color: #f5f5f5;
        margin: 10px 0px 15px 0px;
    }

    > section:first-child {
        width: auto;
        height: auto;
        margin: 0px 136.4px;
        padding: 5px 10px;

        > section:nth-child(3) {
            display: flex;
            width: 100%;
            height: auto;

            > div:first-child {
                width: 706px;
                height: auto;
                margin-right: 20px;

                > div {
                    display: flex;
                    width: 100%;
                    height: auto;
                }
            }

            > div:last-child {
                width: calc(100% - 706px);
                height: auto;
                background-color: yellow;
            }
        }
    }
}
