.itemdetail {
    width: 100%;
    height: auto;
    margin: 150px 0px 20px 0px;

    > section {
        width: auto;
        height: auto;
        margin: 0px 136.4px;
        padding: 5px 10px;

        > div:first-child {
            display: flex;
            width: auto;
            height: 36px;
            justify-content: flex-start;
            align-items: center;

            h1 {
                font-size: 18px;
                font-weight: 700;
                margin-right: 10px;
            }

            div {
                display: flex;
                gap: 5px;

                i,
                p {
                    font-size: 14px;
                }
            }

            button {
                font-size: 14px;
                margin-left: 5px;
                border-radius: 2px;
                border: 1px solid #d90018;
                color: #d70018;
                padding: 2px 3px;
                background-color: #ffffff;
            }
        }
    }

    hr {
        border: none;
        height: 2px;
        background-color: #f5f5f5;
        margin: 10px 0px 15px 0px;
    }
}
