.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 42px;
    padding: 3px 5px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;

    p {
        font-size: 12px;
    }
}

@media screen and (max-width: 452px) {
    .category {
        display: none;
    }
}
