.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: auto;
    height: 42px;
    padding: 3px 5px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;

    p {
        font-size: 12px;
    }
}

@media screen and (max-width: 452px) {
    .signIn {
        display: none;
    }
}
