.shoppingCart {
    display: flex;
    align-items: center;
    width: auto;
    min-width: 45px;
    height: 42px;
    padding: 3px 5px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;

    p {
        font-size: 12px;
    }
}

@media screen and (max-width: 452px) {
    .shoppingCart {
        p {
            font-size: 11px;
        }
    }
}
