.column3 {
    padding: 12px;
    flex: 1;

    div:first-child {
        margin-bottom: 12px;
    }

    div:nth-child(2) {
        padding-left: 10px;

        ul {
            line-height: 20px;

            li {
                color: #4a4a4a;
                font-size: 12px;
            }

            li:last-child::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                background: url(/img/Header/2.png) no-repeat center/contain;
            }
        }
    }

    div:last-child {
        display: flex;
        margin-top: 5px;

        div:last-child {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    }
}
