.column4 {
    padding: 12px;
    flex: 1;

    div:first-child {
        p {
            margin-bottom: 12px;
        }

        div {
            display: flex;
            gap: 10px;
            margin-bottom: 15px;
        }
    }

    div:last-child {
        p:first-child {
            margin-bottom: 12px;
            font-size: 16px;
        }

        p {
            font-size: 12px;
            color: #3f3f3f;
            margin-bottom: 5px;
            white-space: nowrap;
        }

        img {
            margin-bottom: 5px;
        }
    }
}
