.column2 {
    padding: 12px;
    flex: 1;

    div:first-child {
        margin-bottom: 12px;
    }

    div:last-child {
        padding-left: 10px;

        ul {
            line-height: 20px;

            li {
                color: #4a4a4a;
                font-size: 12px;
            }
        }
    }
}
