.extended {
    width: 100%;
    height: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    ul {
        display: flex;
        align-items: center;
        width: auto;
        height: inherit;
        gap: 10px;
        margin: 0px 136.4px;

        li {
            width: auto;
            height: inherit;
            display: flex;
            align-items: center;

            color: #707070;

            a {
                font-size: 12px;
            }
        }
    }
}
