.firstmain {
    div:first-child {
        width: 585px;
        height: 98.31px;
    }
}

.imageslider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;

    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
        color: rgb(190, 185, 185);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        transform: scale(0.5);
    }

    &:hover :global(.swiper-button-next),
    &:hover :global(.swiper-button-prev) {
        opacity: 1;
    }
}
