.mobile {
    margin: 150px 136.4px 0px 136.4px;
    width: calc(100% - (136.4px * 2));
    height: 1500px;

    > section {
        width: 100%;
        height: inherit;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 452px) {
    .main {
        position: relative;
        bottom: 80px;
    }
}
