.loginform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 260px;
    position: fixed;
    top: 228px;
    border-radius: 15px;
    padding: 15px;
    margin: 0px 559px;
    background-color: #ffffff;
    z-index: 101;

    > div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        color: #ffffff;
        background-color: #cecece;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        cursor: pointer;

        &:hover {
            background-color: #9e9a9a;
        }
    }

    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            display: inline-block;
            font-size: 25px;
            color: #d70018;
            font-weight: 600;
        }

        img {
            width: 46px;
            height: 80px;
        }
    }

    > div:nth-child(3) {
        text-align: center;
        p {
            font-size: 15px;
            color: #4a4a4a;
            font-weight: 700;
        }
    }

    > div:last-child {
        display: flex;
        justify-content: space-between;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 47px;
    border-radius: 8px;
    border: 2px solid #dd2440;
    color: #dd2440;
    font-weight: 600;
    box-shadow: rgb(238, 238, 238) 0px 0px 20px 0px;
    cursor: pointer;
}

.loginbtn {
    background-image: linear-gradient(90deg, rgb(255, 81, 47), rgb(221, 36, 64));
    border: 2px solid #ffffff;

    p {
        color: #ffffff;
    }
}
